<div class="forecast">
  <mat-chip-list aria-label="Charts selection">
    <mat-chip 
        *ngFor="let chip of chartsView" 
        [selected]="chip.visible" 
        (click)="chipSelected(chip)"
    >
    {{chip.title}}
    </mat-chip>
    <button 
      mat-raised-button 
      color="accent"
      (click)="showSummary()"
    >
    {{isSummary ? "Back" : "Summary" }} 
    </button>
  </mat-chip-list>



  <div *ngIf="isSummary">
      <app-daily-chart
      title="Long forecast"
      [temperature]="summaryTemperature"
      [humidity]="summaryHumidity"
      [gust]="summaryGust"
      [isSummary] = "isSummary"
      >
      </app-daily-chart>>
  </div>

  <div *ngFor="let chart of chartsView" >
    <div  *ngIf="chart.visible">
      <app-daily-chart
      [title]="chart.title"
      [temperature]="chart.temperature"
      [humidity]="chart.humidity"
      [gust]="chart.gust"
      isSummary = false
      >
      </app-daily-chart>
    </div>
  </div>
</div>